*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --primary-color:black;
    --secondary-color:white;
}

html{
    transition: all 0.5s ease-in;
}

html.dark{
    --primary-color:white;
    --secondary-color:black;
}

html.dark{
    background-color: #111;
    color: var(--primary-color);
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 90%;
    border-radius: 30px;
    box-shadow: 8px 10px 3px var(--primary-color);
    transition: all 0.5s ease-in;
}


.toggle{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 15px 5px 5px 5px;
    padding: 8px 12px;
    position: absolute;
    top: 50px;
    left: 35%;
    cursor: pointer;
}

.toggle:focus{
    outline: 0;
}

.toggle:hover{
    box-shadow: 2px 3px 5px var(--primary-color);
}

.style-toggle{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    position: absolute;
    top: 50px;
    left:60%;
    border-radius: 5px 15px 5px 5px;
    cursor: pointer;
}

.style-toggle:focus{
    outline: 0;
}
.style-toggle:hover{
    box-shadow: 2px 3px 5px var(--primary-color);
}
.clock-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.clock-container .visible{
    z-index: 10;
}

.digital-clock .visible{
    z-index: 10;
}

.clock{
    position: relative;
    width: 200px;
    height: 200px;
}

.needle{
    background-color: var(--primary-color);
    position:absolute;
    top: 50%;
    left: 50%;
    height: 65px;
    width: 3px;
    transform-origin: bottom center;
    transition: all 0.4s ease-in-out;
}

.needle.hour{
    transform: translate(-50%, -100%) rotate(0deg);
}

.needle.minute{
    height: 100px;
    transform: translate(-50%, -100%) rotate(0deg);
}

.needle.second{
    height: 100px;
    transform: translate(-50%, -100%) rotate(-30deg);
    background-color: red;
}

.center-point{
    background-color: red;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}

.center-point::after{
    content: '';
    background-color: var(--primary-color);
    width: 5px;
    height: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}

.time{
    font-size: 60px;
}

.date{
    color: red;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.date .circle{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 10px;
    height: 17px;
    width: 17px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 18px;
    transition: all 0.5s ease-in;
    font-size: 14px;
}